.header {
    border-bottom: 1px solid #008B8B;
    font-size: 20px;
}
.navbar-light {
    background-color: #33CCCC;
}
body {
    background-color: #3399FF;
}
.content {
    margin-top: 50px;
    padding: 30px;
    font-size: 20px;
}
.card {
    background-color: #CCCC99;
    width: 250px;
    height: 250px;
    margin-top: 10px;

}
.footer {
    border-top: 1px solid #008B8B;
    font-size: 20px;
}